*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo-navigation {
    display: flex;
    justify-content: space-between;
  height: 20vh;
   color: white;
}

.header {
    background-image: url(/assets/architecte-interieur/pipcke-5HrruPyXJtU-unsplash\ \(1\).jpg);
height: 100vh;
}


.titre-pricipale {
    font-family: "Cormorant Garamond";
    font-size: 48px;
    color: white;
}

.image-hero{
    height: 150px;
    width: 150px;
    margin: 20px;
}

.container{
    margin: auto;
    width: 1080px;
    text-align: center;
}

.hero-nav{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin: 20px;
    height: 50px;
}
.hero-nav a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    border: solid 2px white;
    padding: 4px;
    height: 30px;
}
.au-milieu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-au-milieu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}