* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-navigation {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 40px;
}

.header {
    background-image: url(/assets/architecte-interieur/pipcke-5HrruPyXJtU-unsplash\ \(1\).jpg);
    object-fit: ;
    height: 100vh;
    padding-top: 1px;
    background-size: cover;
}


.titre-pricipale {
    font-family: "Cormorant Garamond";
    font-size: 69px;
    color: white;
}

.image-hero {
 width: 90px;
}

.container {
    margin: auto;
    width: 1080px;
    text-align: center;
}

.hero-nav {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 11px;

}

.hero-nav a {
    display: flex;
    align-items: center;
    color: #8B4307;
    text-decoration: none;
    padding: 4px;
    height: 30px;

}

.au-milieu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-au-milieu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
}

.navigation-flottante {
     margin: 40px 40px 0px 40px;
}

.bouton-d-accueil {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 4px;
    height: 30px;
}

.bouton-d-accueil2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 4px;
    height: 30px;
}

.bouton-d-accueil3 {
display: flex;
align-items: center;
height: auto;

}

.titre-secondaire {

}